*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/androidTest
/app/src/main/androidTest
/feature_home/src/androidTest
/feature_home/src/test
/feature_search/src/androidTest
/feature_search/src/test
/feature_auth/src/test
/feature_auth/src/androidTest
/db/src/androidTest
/db/src/test
/feature_settings/src/test
/feature_settings/src/androidTest